@import './variables.scss';

* {
  font-family: $font-family;
}

#app {
  max-width: $breakpoint-main-container;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  box-sizing: border-box;
  margin: auto;
}

body {
  background-color: $color-background;
}
