@import './variables.scss';

#app {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  box-sizing: border-box;
  margin: auto;
}

body {
  background-color: $color-background;
}
