@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-primary-100: #009efb;
$color-primary-200: #007dc7;
$color-success-100: #00835c;
$color-info-100: #adadb3;
$color-info-200: #84858c;
$color-info-300: #84858c;
$color-info-400: #696a71;
$color-info-500: #58585f;
$color-info-600: #434347;
$color-white: white;

$color-background-primary: $color-primary-100;
$color-background-secondary: #f3f3f3;

$border-size: 2px;
$border-color: #dfdfdf;

$shadow: 0 2px 6px #0000002e;

$border-radius-small: 12px;
$border-radius-regular: 14px;
$border-radius-large: 20px;

$spacing-small: 0.4rem;
$spacing-regular: 0.8rem;
$spacing-medium: 1.2rem;
$spacing-large: 1.6rem;
$spacing-xlarge: 2rem;

$breakpoint-main-container: 1200px;

$font-family: 'Poppins', sans-serif;

$font-size-base: 12px;
$font-size-title: 16px;
